.container {
    padding-top: 1.5rem;
}
.row{
    margin-bottom: 1.5rem;
}
form{
    text-align: center;
}

.btn,
.btn:disabled:hover {
    background-color: #009688;
    border-color: #009688;
    margin-left: 2rem;
}


.form-control:focus {
    border-color: #009688;
}

i{
    padding-right: 0.5rem;
}

h5{
    color: #CCC;
    margin-top: 3 rem;
    text-align: center;
}
